{% block header %}
  <!-- Хедер -->
  <header id="header">
    <div class="container">
      <h1><a href="{{ site_url }}">{{ name }}</a></h1>
      <h2>{{ tag1 }} <span>{{ tag2 }}</span></h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">{{ sect1 }}</a></li>
          <li><a class="nav-link" href="#resume">{{ sect2 }}</a></li>
          <li><a class="nav-link" href="#contact">{{ sect5 }}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- Навигация -->

      <div class="social-links">
        <a href="{{ telegram }}" class="telegram" title="Telegram"><i class="fa fa-telegram"></i></a>
        <a href="{{ vk }}" class="vk" title="VK"><i class="fa fa-vk"></i></a>
        <a href="{{ email }}" class="email" title="Email"><i class="fa fa-envelope"></i></a>
        <!-- Круглая иконка-крестик для мед. сайта -->
        <a href="https://advocate34-med.ru/" class="company-med" title="Медицинское право" target="_blank" rel="noopener">
          <i class="fa fa-plus"></i>
        </a>
        <!-- Круглая иконка-весы для адвокатского сайта -->
        <a href="https://advocate34.ru/" class="company-law" title="Адвокатский кабинет" target="_blank" rel="noopener">
          <i class="fa fa-balance-scale"></i>
        </a>
      </div>
      </div>
  </header><!-- Конец хедера -->    
{% endblock %}
