 {% block interests %}
    <!-- ======= Интересы ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Военно-правовые интересы</h2>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="icon-box">
            <i class="ri-shield-star-line" style="color: #3F965C;"></i>
            <h3>Воинские преступления</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-file-paper-2-line" style="color: #3F965C;"></i>
            <h3>Дисциплинарные взыскания</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-home-heart-line" style="color: #3F965C;"></i>
            <h3>Жилищные вопросы военнослужащих</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-money-dollar-circle-line" style="color: #3F965C;"></i>
            <h3>Военные пенсии</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-medal-line" style="color: #3F965C;"></i>
            <h3>Льготы военнослужащих</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-user-unfollow-line" style="color: #3F965C;"></i>
            <h3>Увольнение со службы</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-sword-line" style="color: #3F965C;"></i>
            <h3>Помощь участникам СВО</h3>
          </div>
        </div>
  </section>
{% endblock %}
